<script setup>
</script>


<template >
    <div class="flex flex-col  p-3  shadow-2xl ">
        <div class="overflow-x-auto rounded">
                <form >   
    <label  class="mb-1 text-sm font-medium sr-only dark:text-gray-300">Rechercher</label>
    <div class="relative">
        <div class="flex absolute  inset-y-0 left-0 items-center pl-3 pointer-events-none ">
            <svg aria-hidden="true" class="w-5 h-5   text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
        <input type="search"  class="block p-2 pl-10 w-full text-sm text-gray-90 bg-slate-100 rounded" placeholder="Rechercher ..." >
        <button type="submit" class=" absolute right-2.5 bottom-2.5   font-medium rounded text-sm px-4 "><img src="../assets/60954.png" class="w-5 h-5 text-gray-400" alt=""/></button>
    </div>
    </form>
     
                </div>
            </div>
</template>





