<template>
<div class="overflow-x-auto relative sm:rounded-lg ">
    
    <div>    
        <h1 class="font-bold">Verification Terminer !</h1>
        <p>Erreur</p> 
    </div>
    <table class="w-full text-sm text-left text-blue-100 mt-8  border-separate">
        <thead class="text-xs text-white uppercase bg-white  dark:text-black ">
            <tr>
                <th scope="col" class="py-3 px-4 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    1
                </th>
                <th scope="col" class="py-3 text-center text-slate-700 bg-slate-200 border-2">
                    Number de devis
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    faire attention que le numero de devis soit bien en 2021 et non pas 2022
                </th>
                <th scope="col" class="py-3 px-6 ">
                    <img src="../assets/check.png" alt="" class="w-5 h-5">
                </th>
              
            </tr>
            <tr>
                <th scope="col" class="py-3 px-4 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    2
                </th>
                <th scope="col" class="py-3 text-center bg-slate-200 border-2 text-slate-700">
                    Numéro de client
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    faire attention que le numero de dossier soit bien en 2021 et non pas 2022
                </th>
                <th scope="col" class="py-3 px-6 ">
                    <img src="../assets/check.png" alt="" class="w-5 h-5">
                </th>
              
            </tr><tr>
                <th scope="col" class="py-3 px-4 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    3
                </th>
                <th scope="col" class="py-3 text-center bg-slate-200 border-2 text-slate-700">
                    Date devis
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    S'assurer que la date de signature du devis soit en 2021 soit postérieur à 4 et 5 
                </th>
                <th scope="col" class="py-3 px-6 ">
                    <img src="../assets/check.png" alt="" class="w-5 h-5">
                </th>
              
            </tr><tr>
                <th scope="col" class="py-3 px-4 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    4
                </th>
                <th scope="col" class="py-3 text-center bg-slate-200 border-2 text-slate-700">
                    Date de visite préable
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    S'assurer que la date de visite préalable du devis soit en 2021 et antérieur à 3
                </th>
                <th scope="col" class="py-3 px-6 ">
                    <img src="../assets/check.png" alt="" class="w-5 h-5">
                </th>
              
            </tr><tr>
                <th scope="col" class="py-3 px-4 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    5
                </th>
                <th scope="col" class="py-3 text-center text-white bg-red-600 border-2">
                    Date de l'audit
                </th>
                <th scope="col" class="py-3 px-6 bg-red-100 border-2 text-slate-700">
                    fais attention que le numero de devis soit bien en 2021 et non pas 2022
                </th>
                <th scope="col" class="py-3 px-6 ">
                    <img src="../assets/illustration.png" alt="" class="w-5 h-5">
                </th>
              
            </tr>
            <tr>
                <th scope="col" class="py-3  px-4 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    6
                </th>
                <th scope="col" class="py-3 text-center  bg-slate-200 border-2 text-slate-700">
                    Number de devis
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    fais attention que le numero de devis soit bien en 2021 et non pas 2022
                </th>
                <th scope="col" class="py-3 px-6">
                    <img src="../assets/check.png" alt="" class="w-5 h-5">
                </th>
              
            </tr>
            <tr>
                <th scope="col" class="py-3 px-4 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    7
                </th>
                <th scope="col" class="py-3 text-center bg-slate-200 border-2 text-slate-700">
                    Number de devis
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    fais attention que le numero de devis soit bien en 2021 et non pas 2022
                </th>
                <th scope="col" class="py-3 px-6">
                    <img src="../assets/check.png" alt="" class="w-5 h-5">
                </th>
              
            </tr>
            <tr>
                <th scope="col" class="py-3 px-4 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    8
                </th>
                <th scope="col" class="py-3 text-center  bg-slate-200 border-2 text-slate-700">
                    Number de devis
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    fais attention que le numero de devis soit bien en 2021 et non pas 2022
                </th>
                <th scope="col" class="py-3 px-6">
                    <img src="../assets/check.png" alt="" class="w-5 h-5">
                </th>
              
            </tr>
            <tr>
                <th scope="col" class="py-3 px-4 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    9
                </th>
                <th scope="col" class="py-3 text-center bg-slate-200 border-2 text-slate-700">
                    Number de devis
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    fais attention que le numero de devis soit bien en 2021 et non pas 2022
                </th>
                <th scope="col" class="py-3 px-6">
                    <img src="../assets/check.png" alt="" class="w-5 h-5">
                </th>
              
            </tr>
            <tr>
                <th scope="col" class="py-3 px-4 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    10
                </th>
                <th scope="col" class="py-3 text-center bg-slate-200 border-2 text-slate-700">
                    Number de devis
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    fais attention que le numero de devis soit bien en 2021 et non pas 2022
                </th>
                <th scope="col" class="py-3 px-6">
                    <img src="../assets/check.png"  class="w-5 h-5">
                </th>               
            </tr>
            <tr>
                <th scope="col" class="py-3 px-4 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    11
                </th>
                <th scope="col" class="py-3 text-center bg-slate-200 border-2 text-slate-700">
                    RGE
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    S'assurer du bon RGE 
                </th>
                <th scope="col" class="py-3 px-6">
                    <img src="../assets/check.png"  class="w-5 h-5">
                </th>
            </tr>
            <tr>
                <th scope="col" class="py-3 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    11/1
                </th>
                <th scope="col" class="py-3 text-center bg-slate-200 border-2 text-slate-700">
                    Number de devis
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    fais attention que le numero de devis soit bien en 2021 et non pas 2022
                </th>
                <th scope="col" class="py-3 px-6">
                    <img src="../assets/check.png"  class="w-5 h-5">
                </th>
            </tr>
            <tr>
                <th scope="col" class="py-3 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    11/2
                </th>
                <th scope="col" class="py-3 text-center bg-slate-200 border-2 text-slate-700">
                    Number de devis
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    fais attention que le numero de devis soit bien en 2021 et non pas 2022
                </th>
                <th scope="col" class="py-3 px-6">
                    <img src="../assets/check.png"  class="w-5 h-5">
                </th>
            </tr>
            <tr>
                <th scope="col" class="py-3 text-center text-white bg-cyan-700 border-2 rounded-l-md">
                    11/3
                </th>
                <th scope="col" class="py-3 text-center bg-slate-200 border-2 text-slate-700">
                    Number de devis
                </th>
                <th scope="col" class="py-3 px-6 bg-slate-100 border-2 text-slate-700">
                    fais attention que le numero de devis soit bien en 2021 et non pas 2022
                </th>
                <th scope="col" class="py-3 px-6">
                    <img src="../assets/check.png"  class="w-5 h-5">
                </th>
            </tr>
        </thead>
       
        
    </table>
                            <div class=" justify-center flex pb-3 pt-8">
                               <button
                                 type="button"
                                 class=" w-36 py-3 bg-[#13698f] text-white text-sm rounded "                                       
                                 >
                                            Valider
                                            </button>
                                            </div>
                        </div>
</template>